Options -MultiViews
RewriteEngine On

# Permitir la descarga directa de archivos .csv
RewriteCond %{REQUEST_URI} \.csv$ [NC]
RewriteRule .* - [L]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^ index.html [QSA,L]